body {
    background: #222224 !important;

}

.checkout {
    background: #ff9a00;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: ease-in-out 1s;
}

.checkout:hover {
    background: #ffffff;
    color: #ff9a00;
}
